Repository LemonFace0309/Study-Space, pull requests merged in 2021-09, with the labels that each got.

#154 146 move providers to higher level
  atoms/user.js
  components/Dashboard/Cards/SpaceCardModal.js
  components/Dashboard/Modals/ProfileDialog/AccountDetails.js
  components/Dashboard/Modals/ProfileDialog/ChangePassword.js
  components/Dashboard/Modals/ProfileDialog/index.js
  components/Spaces/CallTabs/Music/Player.js
  components/Spaces/CallTabs/Music/Tabs/Home.js
  components/Spaces/CallTabs/Music/Tabs/Queue.js
  components/Spaces/CallTabs/Music/Tabs/SearchSongs.js
  components/Spaces/CallTabs/Music/index.js
  components/Spaces/CallTabs/TodoList.js
  components/Spaces/CallTabs/index.js
  context/spaces/SpotifyContext.js
  context/spaces/TodoContext.js
  context/spaces/index.js
  hooks/useUpdateEffect.js
  models/NextAuthUser.js
  models/Spaces.js
  models/Todo.js
  models/User.js
  pages/dashboard/index.js
  pages/room/[...id].js
  pages/room/index.js
  public/favicon.ico
  utils/apollo/client.js
  utils/apollo/schema/resolvers/Mutation.js
  utils/apollo/schema/resolvers/Query.js
  utils/apollo/schema/typedefs/index.js
  utils/apollo/schema/typedefs/schema.graphql
  utils/apollo/templates/User.js
  utils/dbConnect.js
  utils/getUser.js
Labels: bug, enhancement

#166 161 fix join space from dashboard space card modal
  components/Dashboard/Cards/SpaceCardModal.js
  pages/dashboard/index.js
  utils/getUser.js
Labels: bug

#195 157 dynamically create spaces
  .eslintrc.js
  atoms/spotify.js
  components/Dashboard/Cards/SpaceCardModal.js
  components/Dashboard/Cards/SpacePackage.js
  components/Dashboard/DashboardContainer.js
  components/Spaces/CallTabs/Chat/index.js
  components/Spaces/CallTabs/Music/SpotifySignUpBlocker.js
  components/Spaces/CallTabs/Music/index.js
  components/Spaces/CallTabs/People.js
  components/Spaces/CallTabs/index.js
  components/Spaces/VideoOptions/CallOptions.js
  components/Spaces/VideoStreams/PeerVideo.js
  components/Spaces/VideoStreams/index.js
  context/spaces/SocketContext.js
  context/spaces/SpotifyContext.js
  context/spaces/index.js
  models/Participant.js
  models/Spaces.js
  pages/dashboard/index.js
  pages/room/[...id].js
  pages/room/index.js
  utils/apollo/schema/resolvers/Mutation.js
  utils/apollo/schema/resolvers/Query.js
  utils/apollo/schema/typedefs/index.js
  utils/getUser.js
Labels: enhancement, improvement, -dashboard, -spaces

#196 164 move landing page
  atoms/user.js
  components/Auth/AuthDialog.js
  components/Landing/Header/index.js
  components/Landing/Hero.js
  pages/index.js
  pages/landing/index.js
  public/images/landing/hero.svg
Labels: improvement, -landing, 1. easy

#197 21 fix dashboard spacing
  components/Auth/AuthDialog.js
  components/Dashboard/Cards/Card.js
  components/Dashboard/Cards/ChartCard.js
  components/Dashboard/Cards/DashboardCard.js
  components/Dashboard/Cards/MainActionButton.js
  components/Dashboard/CollapsableDrawer.js
  components/Dashboard/DashboardContainer.js
  components/Landing/Header/index.js
  components/Landing/Hero.js
  components/Shared/Card.js
  components/Spaces/VideoStreams/index.js
  context/spaces/SocketContext.js
  pages/_document.js
  pages/dashboard/index.js
  public/images/dashboard/craft.svg
  public/images/dashboard/join.svg
  styles/Theme.js
Labels: bug, improvement, -dashboard, 2. med

#198 close #122
  components/Auth/AuthDialog.js
  components/Spaces/VideoOptions/CallOptions.js
  components/Spaces/VideoOptions/ParticipantsDialog.js
  components/Spaces/VideoStreams/PeerVideo.js
  components/Spaces/VideoStreams/index.js
  context/spaces/SocketContext.js
  pages/room/[...id].js
  pages/room/index.js
Labels: enhancement, -spaces

#199 standardized size of videos
  components/Auth/AuthDialog.js
  components/Dashboard/Cards/MainActionButton.js
  components/Dashboard/DashboardContainer.js
  components/Shared/Card.js
  components/Spaces/VideoOptions/CallOptions.js
  components/Spaces/VideoOptions/ParticipantsDialog.js
  components/Spaces/VideoStreams/PeerVideo.js
  components/Spaces/VideoStreams/index.js
  context/spaces/index.js
  pages/dashboard/index.js
  pages/room/[...id].js
  utils/spaces/createNewSpace.js
Labels: enhancement, improvement, -spaces, 1. easy
